html, body {
     box-sizing: content-box;
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.nav {
    color: #FFFFFF;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #50A49A;
    width: 100%;
    height: 5rem;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-container {
    margin: 0.5rem;
}

.svg-logo {
    height: 100%;
    width: 100%;
}

.main-navigation {
    display: flex;
}

.main-navigation > ul {
    list-style: none;
    display: flex;
}